@model IEnumerable<DealCrash.Models.Deal>
@{
    ViewBag.Title = "CatClothing";
    DealCrash.Models.User usr = (DealCrash.Models.User)Session["user"];
}

@Html.Partial("~/Views/Deals/SearchPartial.cshtml")
@if (Model.Count() == 0)
{
    <h5>
        No deals in catagory
    </h5>
}
else
{
    foreach (var item in Model)
    {

            <section>
                <article class="blogPost">
                    <header>
                        <h2>@Html.DisplayFor(modelItem => item.title)</h2>
                    </header>
                    <div>
                        @Html.DisplayFor(modelItem => item.text)
                        <br />
                        <img src="@item.image" alt="dealImg" width="100px" height="100px" />
                    </div>
                    @Html.ActionLink("Edit", "Edit", new { id = item.DealID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.DealID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.DealID })
                    <p>Posted on @Html.DisplayFor(modelItem => item.createdDate) by <a href="#">@Html.DisplayFor(modelItem => item.user.email)</a> - <a href="#comments">@item.comments.Count comments</a></p>
                </article>
            </section>
       
    }
}

