@model IEnumerable<DealCrash.Models.Comment>

@{
    ViewBag.Title = "Index";
}
@if (Model == null)
{
    @Html.Partial("~/Views/Shared/UnAuth.cshtml")
}
else if (Model.Count() == 0)
{
    <h3> No Comments. </h3>
}
else
{
    <h2>Comments:</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.deal.title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.user.email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.text)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.createdDate)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.deal.title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.user.email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.text)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.createdDate)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.CommentID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.CommentID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.CommentID })
                </td>
            </tr>
        }

    </table>
}