@model DealCrash.Models.Comment

@{
    DealCrash.Models.User usr = (DealCrash.Models.User)Session["user"];
}

@if (usr != null)
{
    using (Html.BeginForm("CreateQuick", "Comments", new { number1 = 1 }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr style="margin:0px" />
            @Html.ValidationSummary(true)
            @Html.Hidden("UserID", usr.UserID)
            @Html.Hidden("DealID", Model.DealID)

            <div class="form-group">
                <div class="col-md-12">
                    @Html.TextArea("text", new { @class = "form-control", rows = 3, cols = 40, placeholder = "Your Comment..." })
                    @Html.ValidationMessageFor(model => model.text)
                </div>
            </div>


            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
}